title: 'Resume a VM'
type: 'object'
properties:
  data:
    type: 'object'
    properties:
      message:
        type: 'string'
      status:
        type: 'string'
    required: [
      'message',
      'status'
    ]
