title: "Default Configuration"
type: "object"
properties:
  options:
    title: "Options"
    type: "object"
    properties:
      serveraddress:
        title: "XenServer URL"
        type: "string"
      username:
        title: "XenServer username"
        type: "string"
      password:
        title: "XenServer password"
        type: "string"
    required: [
      "serveraddress",
      "username",
      "password"
    ]
